<%= shorthead("Контакты") %>
Как с нами связаться? Да очень просто, вот немного о себе:
<table>
  <tr><td>Страна:</td><td>Россия</td></tr>
  <tr><td>Город:</td><td>Москва</td></tr>
  <tr><td>Телефон:</td><td>+7(919)726-30-44</td></tr>
  <tr><td>e-mail:</td><td>admin@oxnull.net</td></tr>
  <tr><td>WMID:</td><td>209472066293</td></tr>
  <tr><td>Кошелек:</td><td>R151975098463</td></tr>
</table>