<%= shorthead("Нуль-кузница: Шаг в будущее с oxnull.net") %>
<p>
<b>Веб-сайты для всех</b><br/>
Вы думаете создавать сайты сложно? С нуль-кузницей вы легко этому
научитесь. Создайте свой собственный сайт используя готовые темы.
Добавьте фотографии, картинки, текст, опрос или просто раздвиньте
границы возможностей новыми компонентами. Ведь теперь это так просто,
можно добавить именно тех функций, что нужны именно вам, и сделать
абсолютно уникальный сайт.
</p>
<p>
<b>Веб-сайт вашей мечты</b><br/>
Компьютер и Internet — это всё, что вам нужно для создания и развития
своего собственного сайта. Сначала, после регистрации, выберите одну
из тем. Любая тема включает в себя фон, подборку шрифтов и цветов —
все страницы вашего сайта будут сочетаться друг с другом.
</p>
<p>
Затем добавьте немного информации о том, для кого этот сайт и кто его
делает. Так же найдете подробное описание по созданию домашней
страницы, коллективного сайта, фотоальбома, блога, форума и многого
другого. Вы можете создать сколько угодно страниц.
</p>
<p>
Вам не придётся разбираться в HTML-коде или овладевать сложными
программами для создания сайтов. Ничто не помешает вам создать
удивительный сайт.
</p>
<p>
<b>Вместе мы сила</b><br/>
Появились вопросы? Отлично, только у растений нет вопросов. В любой
момент сможете воспользоваться всей силой ox-сообщества и прояснить
любой вопрос, даже не обязательно касающийся сайта, ведь мы тоже люди
и интересуемся очень многим. Присоединяйся!
</p>
<p>
<b>Форум</b><br/>
Наш <a href="http://offtop.oxnull.net" target="_blank">форум</a> не только
поможет решить технические вопросы, но и найти друзей!
Здесь всегда можно найти единомышленников и обсудить насущные проблемы.
Но и это не самое главное! А что главное? Да просто присоединяйся и узнаешь :)
</p>