body
{
    /*background:url("/images/backdrop.png") repeat-x fixed 0 0 #7AB6F3;*/
	background-color: #fafafa;
    font-family: Droid Sans, Liberation Sans, Tahoma, Arial;
    font-size: 10pt;
    color: #000;/*#0A4467;*/
}
.string input{
	/*width:50%;*/
}
.commit, .optional
{
	display: inline;
}

.buttons, .inputs
{
	padding: 0px;
	border:0px;
}
acronym
{
	text-decoration: underline;
}
blockquote
{
	border-style:solid;
    border-width: 1px;
    border-color: #eee;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ddd;
	color: #444;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#notification 
{
    border: 5px solid #9c9;
    background-color: #cfc;
    padding: 5px;
    margin: 10px 20px;
    color: black;
}
#warning
{
    border: 5px solid #a5a3cb;
    background-color: #646197;
    padding: 5px;
    margin: 10px 20px;
    color: #d9c37e;
}
.begin_read{
	float:right;
}
.begin_read a{
	text-decoration:none;
}
.begin_read a:hover{
	text-decoration:underline;
}

.linkfeed:hover{
	text-decoration: underline;
	color: red;
}
.linkfeed{
	text-decoration: none;
	color: black;
}
.popup a, #news_from_top a{
	color: #f2f2f2;
}
.popup a:hover, #news_from_top a:hover{
	/*text-shadow: 0px 0px 0px #FF8400;*/
	color: #FF8400;
}
.popup{
    position:absolute;
    /*visibility:hidden;*/
	background-image: url(/images/text_back.png);
	color: #f2f2f2;
	padding: 10px;
	z-index: auto;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px #000;
	display: none;
	min-width: 170px;
}
#news_from_top
{
	background-image: url(/images/text_back.png);
	z-index: 1;
	left: 0px;
	top: 0px;
	position: fixed;
	display: block;
	width: 100%;
	border: 1px #000;
	padding: 8px;
	text-align: center;
	color: #f2f2f2;
}
table{
/*
    cellpadding: 0px;
    cellspacing: 0px;
	*/
}
.footer
{
    height: 52px;
    background-color: #f2f2f2;
}
.header
{
    height: 225px;
    /*background-image: url(/images/header_back.png);
    background-color: #c2c2c2;*/
    /*border: #1a1a1a solid 1px;
    border-bottom: none;*/
    z-index: auto;
}
.content
{
    /*background-color: #38516a;*/
    margin: 0px;
    /*background-image: url(/images/text_back.png);*/
    position: relative;
    min-height: 200px;
	border-radius: 20px; 
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-khtml-border-radius: 20px;
	-webkit-border-radius: 20px;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/text_back.png',sizingMethod='scale');*/
}
a
{
    color: #2E5B77;
	text-decoration:underline;
}
a:hover {
	color: #FF8400;
	text-decoration:none;
	/*text-shadow: 2px 3px 1px #c2c2c2;*/
}
.menu_right
{
    /*background-image: url(/images/menu_back.png);*/
	background-color:#f2f2f2;
    float: left;
    height: 100%;
    display: block;
    padding-left: 20px;
	border-bottom-left-radius: 20px; 
	-moz-border-radius-bottomleft: 20px;
	-o-border-radius-bottomleft: 20px;
	-khtml-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-box-shadow: 0px 2px 2px #c2c2c2;
	-moz-box-shadow: 0px 2px 2px #c2c2c2;
	-o-box-shadow: 0px 2px 2px #c2c2c2;
	box-shadow: 0px 2px 2px #c2c2c2;
}
a img
{
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 4px;
    border: none;
}
h5, th
{
    font-size: 12pt;
    margin:0px;
    font-weight:bold;
}
h5
{
	color: #71879d;
}
h4
{
    font-size: 10pt;
    font-weight:bold;
    margin: 5px 0px;
    padding: 3px 0px;
    border-top: dashed 1px #888888;
    border-bottom: dashed 1px #888888;
    width: 200px;
}
th
{
    padding: 0px 20px;
    text-align: left;
}
td
{
    padding: 0px 10px;
}
select, input, textarea
{
    border-style:solid;
    border-width: 1px;
    border-color: #c2c2c2;
	background-color:#f2f2f2;
	color: #000;
}
submit:hover{
	background-color:#FF8400;
}
.table_2
{
    background-color: #eaeaea;
    text-align: center;
    border-spacing: 0px;
    margin-left: 10px;
    margin-top: 6px;
}
.table_2 th, .table_2 td
{
    padding: 4px 10px;
    text-align: center;
    border-style:solid;
    border-width: 1px;
    border-color: #c2c2c2;
    font-weight: normal;
}
.table_1
{
    border-right: #666666 dashed 1px;
}
#service table th, #service table td 
{
    padding: 1px;
    text-align: center;
    font-size: 8pt;
}
#service table .first
{
    text-align: left;
}

.main
{
    width:90%;
	min-width: 830px;
	max-width: 1012px;
    margin-left:auto;
    margin-right:auto;
    z-index: auto;
	border:1px solid #f2f2f2;
	border-top-left-radius: 20px; 
	-moz-border-radius-topleft: 20px;
	-o-border-top-left-radius: 20px;
	-khtml-border-top-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
}
#rounded_box_message
{
    float: right;
    margin-right: 20px;
    margin-top: 12px;
	width: 380px;
}
.autorisation1
{
    float: left;
    margin-top: 16px;
    margin-left: 28px;
	margin-bottom: 10px;
    width: 300px;
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 2px #c2c2c2;
	-moz-box-shadow: 2px 2px 2px #c2c2c2;
	-o-box-shadow: 2px 2px 2px #c2c2c2;
	box-shadow: 2px 2px 2px #c2c2c2;
	/*
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
	*/
}
.autorisation2
{
    margin-top: 2px;
    padding-top: 8px;
    padding-left: 4px;
    border-top: dashed 1px #535352;
}
form
{
	margin-top: 0px;
}
strong
{
	color:#6b8bac;
}
.logo
{
    float: left;
	padding-left: 10px;
	padding-right:50px;
	text-align:center;
}
.logo  img
{
    margin-left: 16px;
    margin-top:20px;
}
input.text
{
    margin-left: 4px;
    margin-right: 8px;
    width: 80px;
    color: #000;
}
.menu_big
{
    float: right;
    height: 85px;
}
.menu_left
{
    float: left;
    background-image: url(/images/menu_left.png);
    background-position: left top;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 10px;
    height: 100%;
}
.content_back
{
    width: 100%;
    height: 100%;
    /*background-color: #7AB6F4 transparent;
    background-image: url(/images/content_back.png);
    background-position: top left;*/
    position: relative;
    padding-top: 20px;


}
.content_back_1
{
    background-image: url(/images/content_back_1.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0px;
}
.content_back_2
{
    background-image: url(/images/content_back_2.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0px;
	left: 0;
}
.comment_box
{
	margin-top:15px;
	width:80%;
	padding:15px 20px 15px 20px;
	background-color:#eaeaea;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*border: 1px #bbb solid;*/
	min-height:80px;
}
.comment_head
{
	font-weight: bold;
	color:#5c7995;
	margin-bottom:10px;
	height:18px;
}
.comment_tte
{
	padding-left:70px;
	padding-top:0px;
	color: #000;
}
.comment_avatar
{
	float:left;
	font-size:11px;
	padding:0px;
	width: 60px;
}
.blog_post
{
	margin-bottom: 20px;
	background-color: #f2f2f2;
	padding: 15px 20px 20px 20px;
	border-radius: 15px; 
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: 1px 1px 1px #c2c2c2;
	-moz-box-shadow: 1px 1px 1px #c2c2c2;
	box-shadow: 1px 1px 1px #c2c2c2;
}
h2{
	padding-top:0px;
	margin-top:0px;
}
.post_bottom
{
	color:#6b8095;
	font-size:x-small;
	/*float:left;
	clear: both;
	border: 1px solid white;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px 10px;*/
}
#box_content
{
    position: relative;
    margin:0px 20px;
}
.new
{
    float: left;
    width: 300px;
    margin-left: 30px;
    padding: 0px 0px;
} 
.news
{
    float: left;
    width: 90%;
	text-align:center;
	padding-top:18px;
	color: #c2c2c2;
}
.pics
{
    font-size: 8pt;
    float: right;
}
#rounded_box_message .message {
    background-color: #f2f2f2;
	border-radius: 15px; 
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 10px 0px;
}
#box_content  b, .new b  {
    position: relative;
    background-image: url(/images/text_back.png);
}
#info b, #service b, #adept_center b
{
    position: static;
    background-image: none;
}
#info,#service, #adept_center
{
    padding: 5px 10px;
    border-right: dashed 1px #888888;
    height: 256px;
}
#info
{
    float: left;
    width: 290px;
}
#service
{
    float: left;
    width: 401px;
}
#adept_center
{
    margin-left: 731px;
    border-right: none;
}
#info h5, #service h5, #adept_center h5
{
    width: 100%;
    text-align: center;
}
#main_width{
	min-width: 1024px;
}
.adepts
{
    /*overflow-x: none;*/
}
.message {
    padding:0px 5px;
    min-width: 315px;
	box-shadow: 2px 2px 2px #c2c2c2;
	-webkit-box-shadow: 2px 2px 2px #c2c2c2;
	-moz-box-shadow: 2px 2px 2px #c2c2c2;
}
.break
{
    float: none;
    height: 450px;
    width: 10px;
}

.btn_middle
{
    background-image: url(/images/btn_middle.png);
    height: 20px;
    float: left;
    color: #243e65;
    padding: 0px 4px;
    font-family: Tahoma;
    font-size: 10pt;
	white-space: nowrap;
}

button
{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color:transparent;
    border-width: 0px;
    vertical-align: bottom;
}
.page_numbers{
	padding-left:2em;
}
.aa a{
	color: #0A4467;
}
.aa a:hover{
	color: #FF8400;
	text-decoration:none;
	/*text-shadow: 2px 3px 1px #c2c2c2;*/
}
.menu_right .aa
{
    margin: 15px 0px;
	border-left: none;
	/*color: #8e8e8e;*/
	float: left;
	padding: 15px 20px 0px 20px;
	border-left: solid;
	height: 50%;
	border-color: #c2c2c2;
}
.menu_right .first
{
	padding: 15px 20px 0px 00px;
	border-left: none;
}