<% title "Редактирование заявки" %>
<div class="blog_post">
  <h5><%= link_to "Все блоги", blogs_path %> → <%= link_to "Все Заявки", supports_path %> → Редактирование заявки</h5>
</div>
<div class="blog_post">
  <%= render :partial => 'form' %>
</div>