<% title "Все заявки" %>
<h5><%= link_to "Все блоги", blogs_path %> → Все Заявки</h5>
<div id="supports">
  <%= render :partial => "supports_list", :locals => { :supports => @supports} %>
</div>

<% if can_edit? %>
  <p><%= link_to "Создать заявку", new_support_path %></p>
<%end%>

<%if logged_in?%>
  <%= periodically_call_remote(:url => supports_url, :method=>'get', :frequency => '30', :update => 'supports') %>
<%end%>