<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил инструкции для смены пароля. Для продолжения необходимо перейти по ссылке.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если это не Вы запрашивали пароль, то просто проигнорируйте письмо.</p>
<p>Пароль не будет изменен, пока Вы не перейдете по ссылке.</p>
