<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокирован из-за большого числа неверных попыток авторизации.</p>

<p>Перейдите по ссылке для разблокирования:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
